name: junit

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up JDK
      uses: actions/setup-java@v2
      with:
        java-version: '17'
        distribution: 'temurin'

    - name: Download JUnit and Run Tests
      run: |
        mkdir -p junit
        wget -O junit/junit-platform-console-standalone.jar https://repo1.maven.org/maven2/org/junit/platform/junit-platform-console-standalone/1.9.1/junit-platform-console-standalone-1.9.1.jar
        javac -cp junit/junit-platform-console-standalone.jar *.java
        java -jar junit/junit-platform-console-standalone.jar --class-path . --scan-classpath
